<ion-header>
  <ion-toolbar color="banplus-primary">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center bold" style="color:white;">Recargar mi Wallet Plus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable color="ion-color-banplus-light" (ionChange)="segmentChanged($event)" value="0">
    <ion-segment-button value="0" checked>
      <ion-label  class="bp-tab">Banplus</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" *ngIf="divisa == 'bs'">
      <ion-label class="bp-tab">Transferencia</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" *ngIf="divisa == 'bs'">
      <ion-label class="bp-tab" >Pago móvil</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" *ngIf="false">
      <ion-label class="bp-tab" >Zelle</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides #slides [options]="slideOptions" (ionSlideDidChange)="getIndex()">
    <ion-slide>
      <app-banplus></app-banplus>
    </ion-slide>
    <ion-slide>
      <bank-transfer></bank-transfer>
    </ion-slide>
    <ion-slide>
      <mobile-pay></mobile-pay>
    </ion-slide>
    <ion-slide>
      <app-zelle></app-zelle>
    </ion-slide>
  </ion-slides>
</ion-content>
