.wrapper-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 13rem;
    height: 2.8rem;
    margin-top: 3rem;
}

.wrapper-form{
    padding: 2.2rem;
}

ion-button.login-button{
    margin-top: 6rem;
    --border-radius: 4rem;
}

ion-button{
    --border-radius: 4rem;
}

.forgot-text{
    margin-top: 3rem;
    color: var(--ion-color-diemo-info);
}

ion-item {
    --highlight-color-focused: var(--ion-color-diemo-info);
}

.separator{
    border-bottom: 2px solid var(--ion-color-diemo-info);
    width: 10rem;
}

.or{
    margin-bottom: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.wrapper-separator{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gender-label{
    font-size: .8rem;
}

.error{
    font-size: .75rem;
    display: flex;
    margin-left: 1rem;
    font-weight: 600;
    color: red;
}
.p-2{
    padding: 1.5rem;
}
.pt-0{
    padding-top: 0;
}
.description{
    font-size: .8rem;
    color: var(--ion-color-diemo-primary)
}

// .fancy-button {
//     --background: var(--charcoal, #36454f);
//   }

ion-content > *{
    color: #888b8d;
}

.bp-text{
    color: #888b8d;
}