.p-2{
    padding: 2rem;
}

ion-button.send{
    margin-top: .2rem;
    --border-radius : 2rem;
}

.margin-search{
    margin-top: .5rem;
}

.wrapper-description{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-text{
    margin-left: 0.6rem;
    font-size: 0.9rem;
    padding-top: .6rem;
}

.error{
    font-size: .75rem;
    display: flex;
    margin-left: 1rem;
    font-weight: 600;
    color: red;
}

.mt-1{
    margin-top: .5rem;
}

.padding-title{
    padding-left: .19rem;
    padding-right: .19rem;
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.mt-b{
    margin-top: 1rem;
    --border-radius: 1.8rem
}

.mb-card{
    margin-bottom: 2rem;
}
.card-content-md h1{
    font-size: 20px;
}
.amount{
    border: none;
    border-width: 0px;
    background-color: transparent;
    &:focus{
        outline: none !important;
    }
}

.bp-text{
    color: #888b8d;
}