<ion-header>
  <ion-toolbar color="banplus-primary">
    <ion-buttons slot="start" >
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center bold" style="color: white;">CAMBIAR CONTRASEÑA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img src="/assets/img/illustrations/change-psswd.svg" 
  class="padding-illustation"> -->
  <p class=" padding-text text-center bp-dark-gray">Ingresa tu contraseña actual para validar tu identidad, luego, procede a ingresar tu nueva contraseña</p>
  <div class="info">
    <ion-buttons (click)="information()">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </div>
  <form [formGroup]="changepasswordForm" class="padding-form">
    <ion-item class="bp-text">
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input type="password" formControlName="CurrentPassword" [type]="showPwd ? 'text' : 'password'" clearOnEdit="false"></ion-input>
      <ion-icon class="bp-blue" slot="end" [name]="pwdIcon" (click)="togglePwd()"></ion-icon>
    </ion-item>
        <span class="error" *ngIf="isSubmitted && f.CurrentPassword.errors">
          Contraseña actual es requerida
        </span>
    <ion-item class="bp-text">
      <ion-label position="floating">Contraseña nueva</ion-label>
      <ion-input type="password" formControlName="NewPassword" [type]="showPwd2 ? 'text' : 'password'" clearOnEdit="false"></ion-input>
      <ion-icon class="bp-blue" slot="end" [name]="pwdIcon2" (click)="togglePwd2()"></ion-icon>
    </ion-item>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.required">
          Contraseña nueva es requerida
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.hasNumber">
          Al menos un número
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.hasCapitalCase">
          Al menos una letra mayúscula
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.hasSmallCase">
          Al menos una letra minúscula
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.hasSpecialCharacters">
          Al menos un caracter especial
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword.errors?.minlength || f.NewPassword.errors?.maxlength">
          Mínimo 8 caracteres, máximo 16
        </span>
    <ion-item class="bp-text">
      <ion-label position="floating">Confirmación de contraseña</ion-label>
      <ion-input type="password" formControlName="NewPassword2" [type]="showPwd3 ? 'text' : 'password'" clearOnEdit="false"></ion-input>
      <ion-icon class="bp-blue" slot="end" [name]="pwdIcon3" (click)="togglePwd3()"></ion-icon>
    </ion-item>
        <span class="error" *ngIf="isSubmitted && f.NewPassword2.errors?.required">
          Confirmación de contraseña es requerida
        </span>
        <span class="error" *ngIf="isSubmitted && f.NewPassword2.errors?.NoPassswordMatch">
          Las contraseñas no coinciden
        </span>
  </form>
  <br>
  <br>
  <ion-button color=banplus-neutral expand=block (click)="onSubmit()">
    <span *ngIf="!loading">ACTUALIZAR</span>
    <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
  </ion-button>
</ion-content>
