<ion-list *ngIf="orders.length > 0 && !loading" lines=none>
  <ion-list-header>
    <p class="balance-text bp-text">Últimas solicitudes de pago</p>
  </ion-list-header>
  <ion-item-sliding *ngFor="let item of orders">
    <ion-item class="position-relative bp-text" (click)="showPayment(item)">
      <div class="d-flex flex-column">
        <p class="reference">
          <span *ngIf="item.type == 'pos_pay'">POS EN {{item.user_name | uppercase}}</span>
          <span *ngIf="item.type == 'payment_order'">MARKET {{item.user_name | uppercase}}</span>
         <!-- <span class="bold"> #{{item.traceNumber | slice:item.traceNumber.length - 6:item.traceNumber.length}}</span> --> </p>
        <span class="date">{{item.created_at * 1000 | date:'dd/MM/yyyy hh:mm:ss aa'}}</span>
        <span class="amount bp-text">
          <span *ngIf="item.currency == 'bs'">Bs.</span>
          <span *ngIf="item.currency == 'usd'">$</span>
          <span *ngIf="item.currency == 'eur'">€</span>
          {{item.amount | number:".2"}}
        </span>
      </div>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color=banplus-neutral (click)="showPayment(item)">
        <fa-icon [icon]=faEye></fa-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


  <div class="empty" *ngIf="orders.length == 0 && !loading">
    <!-- <br>
    <p class="text-center">NO POSEE SOLICITUDES DE PAGO</p> -->
  </div>

  <div class="d-flex justify-content-center mb-3" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
