<form [formGroup]="passwordForm" class="p-1 pt-0">
  
      <ion-item lines="full">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    <p class="error" *ngIf="!isSubmitted">
      Debe tener al menos un número, una letra mayúscula, un caracter especial y debe ser de mínimo 8 caracteres
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.required">
      Contraseña es requerida
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.hasNumber">
      Al menos un número
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.hasCapitalCase">
      Al menos una letra mayúscula
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.hasSmallCase">
      Al menos una letra minúscula
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.hasSpecialCharacters">
      Al menos un carácter especial
    </p>
    <p class="error" *ngIf="isSubmitted && f.password.errors?.minlength || f.password.errors?.maxlength">
      Mínimo 8 caracteres, máximo 16
    </p>
      
    <ion-item lines="full">
      <ion-label position="stacked">Repetir contraseña</ion-label>
      <ion-input formControlName="repeat_password" type="password" placeholder="Repetir contraseña"></ion-input>
    </ion-item>
    <p class="error" *ngIf="isSubmitted && f.repeat_password.errors?.required">
      Repetir contraseña es requerida
    </p>
    <p class="error" *ngIf="f.repeat_password.errors?.NoPassswordMatch">
      Las contraseñas no coinciden
    </p>
</form>
<ion-button type="button" (click)="onSubmit()" expand="block" color="banplus-light" class="send-button">
  <span *ngIf="!loading">
    CAMBIAR
  </span>
  <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
</ion-button>