.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-button{
  --border-radius: 4rem;
  margin-top: .8rem;
  width: 90%;
  margin: 0 auto;
}

.padding-content{
  padding-left: .5rem;
  padding-right: .5rem;
}

ion-content > *{
  color: #888b8d !important;
}

.bp-text{
  color: #888b8d ;
}

