<ion-content class="bp-content">
  <div class="d-flex justify-content-center pt-2">
   <!-- <img src="assets/img/illustrations/validation-forgot-psswd.svg" *ngIf="!new_password && !verify" class="img-forgot" alt="">
    <img src="assets/img/illustrations/checkmail-forgot-psswd.svg" *ngIf="verify && !new_password" class="img-forgot" alt="">
    <img src="assets/img/illustrations/set-new-psswd.svg" *ngIf="new_password" class="img-forgot" alt="">-->

  </div>
  <p class="text-center padding-content bp-title" *ngIf="!new_password && !verify">¡Banplus necesita validar tu identidad!</p>
  <div class="d-flex padding-content" *ngIf="!new_password && !verify">
    <span class="small bold text-center bp-gray">Introduce tu correo electrónico asociado a tu wallet plus</span>
  </div>

  <p class="text-center padding-content" *ngIf="verify && !new_password">Ingresa el código enviado a tu correo electrónico</p>

  <p class="text-center padding-content" *ngIf="new_password">Ingresa tu nueva contraseña</p>
  <br>

  <div *ngIf="!verify && !new_password">
    <form [formGroup]="forgotForm" class="p-1">
      <ion-item class="bp-text">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="emailID" type="email"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && f.emailID.errors?.required">
        CORREO ELECTRÓNICO ES REQUERIDO
      </p>
      <p class="error" *ngIf="isSubmitted && f.emailID.errors?.email">
        CORREO ELECTRÓNICO NO ES UN FORMATO VÁLIDO
      </p>
    </form>
    <br>
    <ion-button type="button" (click)="onSubmit()" expand="block" color="banplus-light" class="send-button">
      <span *ngIf="!loading">
        Enviar
      </span>
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
    </ion-button>
  </div>


  <div *ngIf="verify && !new_password">
    <form [formGroup]="verifyForm" class="p-1">
      <ion-item>
        <ion-label position="floating">Código de validación</ion-label>
        <ion-input formControlName="code" type="password"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isSubmittedVerify && vf.code.errors?.required">
        CÓDIGO DE VALIDACIÓN ES REQUERIDO
      </p>
      <p class="error" *ngIf="isSubmittedVerify && vf.code.errors?.pattern">
        CÓDIGO DE VALIDACIÓN NO VÁLIDO
      </p>
    </form>
    <br>
    <ion-button type="button" (click)="onSubmitVerify()" expand="block" color="banplus-neutral" class="send-button">
      <span *ngIf="!loading">
        Verificar
      </span>
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
    </ion-button>
  </div>

  <div *ngIf="new_password">
    <change-password-init [idUser]="ci_verify"></change-password-init>
  </div>

  <p class="small mt-1 text-center" (click)="goTo('auth/signin')">¿Ya tienes cuenta? Inicia sesión</p>

</ion-content>
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <linearGradient id="gradient">
      <stop offset="5%" stop-color="#6ABF4B" /> 
      <stop offset="95%" stop-color="#a4c639" />
    </linearGradient>
  </defs>
  <path fill="url(#gradient)" fill-opacity="1" d="M0,128L48,133.3C96,139,192,149,288,176C384,203,480,245,576,245.3C672,245,768,203,864,170.7C960,139,1056,117,1152,117.3C1248,117,1344,139,1392,149.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>-->
