<ion-content>
  <div class="wrapper-logo">
    <img src="/assets/img/logo/banplus/wallet-plus.png" class="logo" alt="">
  </div>

  <form [formGroup]="signinForm" class="wrapper-form">
    <ion-item class="bp-text">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="user"></ion-input>
    </ion-item>
    <p class="error" *ngIf="submitted && f.user.errors?.required">
      Usuario es requerido
    </p>
    <ion-item class="bp-text">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type=password formControlName="password" [type]="showPwd ? 'text' : 'password'" clearOnEdit="false"></ion-input>
      <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()" color=banplus-light></ion-icon>
    </ion-item>
    <p class="error" *ngIf="submitted && f.password.errors?.required">
      Contraseña es requerida
    </p>


    <p class="bold text-center forgot-text" [routerLink]="['/auth/forgot/password']" routerLinkActive="router-link-active" >¿Olvidaste tu contraseña?</p>

    <ion-button [disabled]="loading" type="button" (click)="onSubmit()" expand=block color=banplus-light class="login-button bold">
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
      <span *ngIf="!loading">Iniciar Sesión</span>
    </ion-button>
    <br>
    <ion-button [disabled]="loading" color=banplus-dark *ngIf="finger" class="register-button bold db-ma" (click)="loadBiometricSecret()"> 
      <span *ngIf="!loading">
        Iniciar con biometría
      </span>
      <ion-icon *ngIf="!loading" name="finger-print-outline"></ion-icon>
      <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>      
    </ion-button>
    <br>
    <ion-button [disabled]="loading" color=banplus-light class="register-button bold db-ma" [routerLink]="['/auth/signup/']"> Regístrate </ion-button>

    <div class="wrapper-separator">
      <!-- <div class="separator"></div> <span class="or">O</span> <div class="separator"></div> -->
    </div>

    <ion-button [disabled]="loading" size=small color=banplus-info-dark [routerLink]="['/offine/qr']" routerLinkActive="router-link-active"  class="register-button bold db-ma"> PAGO SIN CONEXIÓN </ion-button>
    <!-- <ion-button size=small *ngIf="finger" color=banplus-dark class="register-button bold db-ma" (click)="loadBiometricSecret()"> LOGIN <ion-icon name="finger-print-outline"></ion-icon> </ion-button> -->
  
  </form>

  <div class="wrapper-logo">
    <div class="by-diemo">powered by</div>
    <img src="/assets/img/logo/diemo.png" class="diemo-logo" alt="">
  </div>

</ion-content>

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <linearGradient id="gradient">
      <stop offset="5%" stop-color="#6ABF4B" /> 
      <stop offset="95%" stop-color="#a4c639" />
    </linearGradient>
  </defs>
  <path fill="url(#gradient)" fill-opacity="1" d="M0,128L48,133.3C96,139,192,149,288,176C384,203,480,245,576,245.3C672,245,768,203,864,170.7C960,139,1056,117,1152,117.3C1248,117,1344,139,1392,149.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg> -->

<app-modal-code-sms *ngIf="showModalSms"></app-modal-code-sms>
