<div class="wrapper-mobile">
  <div class="grid">
    <div class="bounded-number">1</div>
    <ion-card>
      <p class="text-mobile">
        Realiza una transferencia Zelle con los siguientes datos:
      </p>
    </ion-card>
  </div>

  <ion-grid>
    <ion-row class="ion-align-items-center mt-1">
      <ion-col size="12" class="ion-text-center">
        <ion-button size="medium" color=banplus-light (click)="presentModal()"> 
          <span *ngIf="!loading">VER DATOS ZELLE</span>
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="grid">
    <div class="bounded-number">2</div>
    <ion-card>
      <p class="text-mobile">
        Introduzca el monto que desea recargar a su billetera.
      </p>
    </ion-card>
  </div>

  <div class="grid">
    <div class="bounded-number">3</div>
    <ion-card class="card-note"> 
      <p class="text-mobile">
        En el <strong>NOTE / MESSAGE / DESCRIPTION</strong> (comúnmente opcional) escriba su código único de recarga.
      </p>
    </ion-card>
  </div>

  <ion-text class="bold ion-text-justify">
    Si no introduce el código único de recarga en la transferencia zelle, no será posible recargar su billetera.
  </ion-text>

</div>

 