<div class="wrapper-mobile">
  <div class="grid">
    <div class="bounded-number">1</div>
    <ion-card>
      <p class="text-mobile">
        Realiza la recarga directamente desde tu cuenta Banplus a través del portal:
      </p>
    </ion-card>
  </div>
  <div class="ion-text-center">
    <ion-button expand=block color=banplus-light (click)="openUrl()">
      <p>www.banplus.com</p>
   </ion-button>
  </div>
  <div class="grid">
    <div class="bounded-number">2</div>
    <ion-card>
      <p class="text-mobile">
        Una vez realizada la recarga, el dinero se te acreditará automáticamente a tu Wallet Plus.
      </p>
    </ion-card>
  </div>
  <!--<img src="/assets/img/illustrations/recharge-banplus.svg" class="padding-illustration">
   <div class="grid">
    <div class="bounded-number">3</div>
    <ion-card>
      <p class="text-mobile">
        Si realizó su recarga desde su cuenta Banplus y no se acreditó el dinero en su Wallet Plus transcurridos 5 minutos, haga clic en el siguiente botón para registrar la recarga.
      </p>
    </ion-card>
  </div> -->
  <!-- <ion-button expand=block color=banplus-neutral>
    <span *ngIf="!loading">REGISTRAR RECARGA</span>
    <fa-icon [icon]=faSpinner *ngIf="loading" spin=true></fa-icon>
  </ion-button> -->
</div>
