<ion-header>
  <ion-toolbar color="banplus-secondary">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center bold" style="color: white;">Liquidar a Bs</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-text class="text-center"><h3> <fa-icon [icon]="faUniversity" size="xs"></fa-icon> Tasa del BCV</h3></ion-text>
    </ion-col>
    <ion-col>
      <ion-text class="text-center"><h5>{{transform(dolarToday)}} Bs</h5></ion-text>
    </ion-col>
  </ion-row>
  
  <ion-card class="balance-card wrapper-balance">
    <ion-text class="text-divisa">
      Saldo {{ divisa | uppercase}} 
    </ion-text>
    <div class="wrap-card">
      <balance [amount_out]="balance"></balance>
    </div>
  </ion-card>
  
  <ion-card class="wrap-card" color="banplus-dark">
    <ion-row *ngIf="exchange">
      <ion-col size=12>
        <ion-text class="text-center bold">
          <h3 class="ml-1">
            Monto total en BS
          </h3>
        </ion-text>
      </ion-col>
      <ion-col size=12>
        <ion-text class="text-center bold" *ngIf="exchange">
          <h4>{{transform(exchange)}}</h4>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <form [formGroup]="exchangeForm" novalidate class="p-1">
    <ion-list>
      <ion-item lines="full">
        <ion-label position="stacked">Monto 
          <span *ngIf="divisa == 'bs'">Bs.</span>
          <span *ngIf="divisa == 'usd'">$</span>
          <span *ngIf="divisa == 'eur'">€</span>
        </ion-label>
        <input class="amount" currencyMask type="tel" (keyup)="changeAmount(f.usdAmount.value)" formControlName="usdAmount" [options]="{ align: 'left', allowZero: false, allowNegative: false, prefix: '', thousands: '.', decimal: ',' }"/>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && f.usdAmount.errors?.required">
        Monto es requerido
      </p>
      <ion-item lines="full">
        <ion-label position="stacked">PIN</ion-label>
        <ion-input id="pin" formControlName="pin" inputmode="numeric" (ionChange)="onKeyPin(f.pin)" type="text" placeholder="PIN"></ion-input>
      </ion-item>
      <br>
      <span class="error" *ngIf="isSubmitted && f.pin.errors?.required">
        PIN nuevo es requerido
      </span>
      <span class="error" *ngIf="f.pin.errors?.maxlength || f.pin.errors?.minlength">
        El PIN debe ser de 4 caracteres numéricos
      </span>
      <span class="error" *ngIf="f.pin.errors?.pattern">
        El PIN debe ser numérico
      </span>
    </ion-list>
    <br>
    <ion-button class="send" expand="block" [class.button-disabled]="loading" color="banplus-neutral" (click)="submitForm()">
      <span *ngIf="!loading">Liquidar</span>
      <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="loading"></fa-icon>
    </ion-button>
  </form>
</ion-content>